body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.container {
    min-width: 13em;
    max-width: 53em;
}
