html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 250px;
    height: 350px;
    background-color: #153140;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header, footer {
    width: 100%;
    background-color: #ff0000;
    text-align: center;
    padding: 10px 0;
}

main {
    text-align: center;
}
